// Variables
@import './utils/variables';

// Utilities
@import './utils/utils';

// Components
@import './components/alert';
@import './components/newsGrid';
@import './components/header';
@import './components/banner';
@import './components/contactForm';

body {
  margin: 0;
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
}
