$units: (0, 1, 2, 5, 8, 10, 15, 20);
$sides: (top, bottom, left, right);

// create margins and padding
@each $unit in $units {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$unit} {
      margin-#{$side}: #{$unit}rem !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$unit} {
      padding-#{$side}: #{$unit}rem !important;
    }
  }
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}
