// COLORS
$dark: '#1D2121';

// WIDTH AND HEIGHT
$max-width: 940px;
$input-height: 35px;
$button-width: 170px;
$button-height: 39px;

// FONT
$font-base: 'Open Sans';

// FONT SIZES
$font-section-title: 30px;
$font-large: 21px;
$font-medium: 16px;
$font-small: 13px;

// FONT LETTER SPACING
$spacing-large: -0.11px;
$spacing-medium: -0.09px;
$spacing-small: -0.07px;
